@charset "UTF-8";
/* 变量 */
.index-about {
  position: relative;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .index-about {
    padding-top: 120px;
    min-height: 540px;
  }
}
@media (min-width: 701px) and (max-width: 1199px) {
  .index-about {
    padding-top: 90px;
    min-height: 540px;
  }
}
@media (max-width: 700px) {
  .index-about {
    padding-top: 60px;
    min-height: 750px;
  }
}
.index-about .index-about-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 240px;
}
.index-about .index-about-bg div {
  height: 240px;
}
.index-about .index-about-bg span {
  display: block;
  border-right: 1px solid #e60012;
  height: 240px;
}
.index-about .index-about-data .about-data-box {
  display: inline-block;
  width: 170px;
  height: 170px;
}
.index-about .index-about-data .about-data-box .data-title {
  display: inline-block;
  width: 12px;
  height: 100%;
  font-size: 12px;
  color: #333;
  padding-right: 20px;
}
.index-about .index-about-data .about-data-box .data-num {
  display: inline-block;
  height: 100%;
  font-size: 48px;
  line-height: 80px;
}
.index-about .index-about-select .about-bg-gray {
  background: #f8f8f8;
  height: 424px;
}
