@import "l_variable";

//关于统帅
.index-about{
  position: relative;
  font-size: 12px;
  @media (min-width: 1200px){
    padding-top: 120px;
    min-height: 540px;
  }
  @media (min-width: 701px) and (max-width: 1199px) {
    padding-top: 90px;
    min-height: 540px;
  }
  @media (max-width: 700px) {
    padding-top: 60px;
    min-height: 750px;
  }
  .index-about-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 240px;
    div{
      height: 240px;
    }
    span{
      display: block;
      border-right: 1px solid @l-red;
      height: 240px;
    }
  }
  .index-about-data{
    .about-data-box{
      display: inline-block;
      width: 170px;
      height: 170px;
      .data-title{
        display: inline-block;
        width: 12px;
        height: 100%;
        font-size: 12px;
        color: #333;
        padding-right: 20px;
      }
      .data-num{
        display: inline-block;
        height: 100%;
        font-size: 48px;
        line-height: 80px;
      }
    }
  }
  .index-about-select{
    .about-bg-gray{
      position: relative;
      background: #f8f8f8;
      height: 424px;
      margin-right: -20%;
      .about-font{
        position: absolute;
        bottom: 50px;
        left: -15%;
      }
      .about-china{
        font-size: 24px;
        line-height: 35px;
      }
      .about-en{
        font-size: 48px;
        line-height: 60px;
        font-family: "Open Sans";
        @media (max-width: 1199px){
          font-size: 32px;
          line-height: 35px;
        }
      }
      .about-icon{
        position: absolute;
        right: 0;
        padding-right: 60px;
        bottom: 50px;
        color: @l-red;
        font-size: 48px;
        @media (max-width: 1199px){
          font-size: 32px;
        }
      }
    }
  }
}