@import "l_base";

/**
 * 按钮样式
 */
.l-btn{
	display: inline-block;
	border-radius: 80px;
	padding: 0 20px;
}
// 常规按钮
.l-btn-normal{
	line-height: 40px;
	height: 40px;
	.l-btn
}
// 小号按钮
.l-btn-sm{
	line-height: 32px;
	height: 32px;
	.l-btn
}
// 大号按钮
.l-btn-lg{
	line-height: 50px;
	height: 50px;
	font-size: 16px;
	.l-btn
}
// 红色按钮
.l-btn-red{
	color: #fff;
	background: @l-red;
	&:hover{
		background: @l-hover;
	}
	&.l-btn-disable{
		color: #ccc;
		background: #eee;
		cursor: default;
	}
}
.l-btn-orange{
	color: #fff;
	background: @l-orange;
	&:hover{
		background: @l-hover;
	}
	&.l-btn-disable{
		color: #ccc;
		background: #eee;
		cursor: default;
	}
}
.l-btn-line1{
	color: @l-red;
	border: 1px solid @l-red;
	&.l-btn-disable{
		color: #ccc;
		border: 1px solid #999;
		cursor: default;
	}
}

// 表单样式：登录/注册/找回密码
.l-input{
	position: relative;
	display: inline-block;
	color: #ccc;
	input{
		border: 1px solid #ccc;
		border-radius: 40px;
		height: 38px;
		line-height: 38px;
		text-indent: 20px;
	}
	i{
		position: absolute;
		right: 20px;
    	top: 7px;
	}
	a{
		position: absolute;
		right: 5px;
		top: 5px;
		border-radius: 40px;
		color: #fff;
		&.l-btn-disable{
			color: #ccc;
		}
	}
}
.l-input-iconleft{
	position: relative;
	display: inline-block;
	color: #ccc;
	input{
		border: 1px solid #ccc;
		border-radius: 40px;
		height: 38px;
		line-height: 38px;
		text-indent: 45px;
	}
	i{
		position: absolute;
		left: 20px;
    	top: 7px;
	}
}
.l-role{
	text-align: left;
	padding-left: 13%;
	line-height: 38px;
	color: #666;
	i{
		color: #ccc;
	}
}