@import "l_variable";
.mail_register_box{
  background: #f8f8f8;
  @media (max-width: 575px) {
    /* xs*/
    background: #fff;

  }
  .mail_register_bkleft{
    width: 1200px;
    //height: 100vh;
    background-image:url('email_bg_left.jpg') ;
    background-repeat:no-repeat;
    background-position:top left ;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: auto 850px;
    background-size:  auto 850px ;

    @media (min-width: 992px) and (max-width: 1199px) {
      /* lg*/
      height: 700px;
      background-size:  auto 700px ;
    }

    @media (min-width: 701px) and (max-width: 991px) {
      /* md*/

      height: 350px;
      background-image:url('reg_bg_top1.jpg') ;
      background-repeat:no-repeat;
      background-position:top center ;
      filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
      -moz-background-size: 100% 350px;
      background-size: 100% 350px;
    }
    @media (min-width: 576px) and (max-width: 700px) {
      /* sm*/
      height: 260px;
      //background: url('reg_bg_top1.png') no-repeat top center;
      //background-size:  100% 260px ;
      background-image:url('reg_bg_top1.png') ;
      background-repeat:no-repeat;
      background-position:top center ;
      filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
      -moz-background-size:100% 260px ;
      background-size: 100% 260px ;
    }
    @media (max-width: 575px) {
      /* xs*/
      height: 120px;
      //background: url('reg_bg_top2.JPG') no-repeat top center;
      //background-size:  800px 120px ;
      background-image:url('reg_bg_top2.JPG') ;
      background-repeat:no-repeat;
      background-position:top center ;
      filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
      -moz-background-size: 800px 120px  ;
      background-size: 800px 120px  ;

    }
  }
  .mail_register_bkright{
    //background: url('email_bg_right.png') no-repeat center right;
    width: 200px;
    //height: 100vh;
    //background-size:200px  auto ;
    background-image:url('email_bg_right.png') ;
    background-repeat:no-repeat;
    background-position:center right ;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:120px  ;
    background-size:120px  ;
    @media (min-width: 992px) and (max-width: 1199px) {
      /* lg*/
      height: 700px;
    }

    @media (min-width: 701px) and (max-width: 991px) {
      /* md*/
      display: none;
    }
    @media (min-width: 576px) and (max-width: 700px) {
      /* sm*/
      display: none;

    }
    @media (max-width: 575px) {
      /* xs*/
      display: none;

    }
  }
  .mail_register_bkmid{
    @media (min-width: 701px) and (max-width: 991px) {
      /* md*/
      height: 600px;
    }
    @media (min-width: 576px) and (max-width: 700px) {
      /* sm*/
      height: 500px;


    }
    @media (max-width: 575px) {
      /* xs*/
      //display: none;
      height: 0;

    }
  }
  .mail_register_contbox{
  //  //position: absolute;
  //  //top: 135px;
  //  //left: 0;
  //  //text-align: center;
  //  @media (min-width: 701px) and (max-width: 991px) {
  //    /* md*/
  //
  //  }
  //  @media (min-width: 576px) and (max-width: 700px) {
  //    /* sm*/
  //    top: 60px;
  //  }
    @media (max-width: 575px) {
      /* xs*/
       padding: 0 0 30px 0 ;

    }
  }
  .mail_register_cont{
    width: 480px;
    border-radius: 8px;
    text-align: center;
    background: #fff;
    color: #333;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 550px;

    box-shadow: 0px 0px 7px 0px #eee;

    @media (min-width: 576px) and (max-width: 991px) {
      height: 600px;
    }

      >div{
      img{
        margin:  40px 0 20px 0;
      }
      >h2{
        font-size: 28px;
        padding-bottom: 40px;
      }
      >p{
        font-size: 14px;
      }
      >i{
        font-size: 24px;
        color: @l-red;
        line-height: 26px;
        word-wrap:break-word;
        padding: 17px 0;

      }
      >span{
        font-size: 14px;
      }
      >a{
        font-size: 14px;
        text-align: center;
        color: #fff;
        margin: 45px 0 20px 0;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        /* lg*/

      }

      @media (min-width: 701px) and (max-width: 991px) {
        /* md*/
        >img{
          margin: -40px 0 0 0;
          border: 10px solid #fff;
          border-radius: 60px;
        }
        >h2{
          margin:0  0 50px  0;
        }
      }
      @media (min-width: 576px) and (max-width: 700px) {
        /* sm*/
        >img{
          margin: -40px 0 20px 0;
          border: 10px solid #fff;
          border-radius: 60px;
        }
        >h2{
          margin:0  0 50px  0;
        }
      }
      @media (max-width: 575px) {
        /* xs*/
        >img{
          margin: -40px 0 0 0;
          border: 10px solid #fff;
          border-radius: 60px;
        }
        >h2{
          padding: 0;
          margin:0  0 70px  0;
          font-size: 24px;
        }
      }
    }
    .mail_register_cont_time{
      font-size: 12px;
      color: #666666;
      span{
        color: @l-orange;
      }
    }
    //.mail_register_cont_down{
    //  font-size: 12px;
    //  border-top: 1px solid #eee;
    //  margin: 60px 0 0 0;
    //  padding: 20px 0;
    //  color: #666;
    //  i{
    //    color: #999;
    //    font-size: 20px;
    //    padding-left: 10px;
    //
    //  }
    //}
    @media (max-width: 575px) {
      /* xs*/
      border-radius: 0px;
      position:inherit;
      box-shadow: none;
      height: auto;

    }
  }
  .login_footer{
    position: absolute;
    bottom: 0;
    //background: #fff;
    @media (max-width: 575px) {
      /* xs*/
      background: #fff;
      //border-top: 0;
      position: relative;
    }
  }
}
.mail_register_cont_down{
  font-size: 12px;
  border-top: 1px solid #eee;
  margin: 80px 0 0 0;
  padding: 20px 0;
  color: #666;
  line-height: 20px;
  position: relative;
  .l-float-tops{
    display: none;
    position: absolute;
    right: -4px;
    height: 70px;
    z-index: 9;
    top: 52px;
    .float_content{
      text-align: left;
      line-height: 25px;
    }
  }
  //>i{
  //  color: #999;
  //  font-size: 20px;
  //  padding-left: 10px;
  //  display: inline-block;
  //  width: 18px;
  //  height:18px;
  //  vertical-align: baseline;
  //
  //}
  @media (min-width: 701px) and (max-width: 991px) {
    /* md*/
    margin:130px 0 0 0;
  }
  @media (min-width: 576px) and (max-width: 700px) {
    /* md*/
    margin:160px 0 0 0;
  }
  @media (max-width: 575px) {
    /* md*/
    margin:30px 0 0 0;
  }

}
.mail_register_wrong_text{     color: @l-orange;     font-size: 12px;     display: none; line-height: 28px  }

.mail-problem{
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url(problem.png) no-repeat  center top  ;
 //margin-left: 10px;
}
.email_sendover>span{
  display: inline-block;
}