@import "l_variable";


/*个人信息*/
.member_order_title_box {
    text-align: center;
    >h2 {
        font-size: 24px;
        color: #333;
        padding-left: 50px;
        line-height: 85px;
        border-bottom: 1px solid #eee;
        text-align: left;
        @media (max-width: 575px) {
            /* xs*/
            font-size: 16px;
        }
    }
    .member_order_title {
        position: relative;
        .oder_shelter_scroll {

            height: 20px;
            padding: 0;
            position: absolute;
            bottom: 2px;
            left: 0;
            background: #fff;
            z-index: 3;
        }
    }

    .member_order_title_cont {
        height: 80px;
        border-bottom: 1px solid #eee;
        text-align: left;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        >li {
            width: 125px;
            font-size: 16px;
            text-align: center;
            padding: 30px 0 30px 0;
            margin-bottom: 1px;

            >a {
                position: relative;
                color: #999;
                @media (min-width: 701px) and (max-width: 991px) {
                    /* md*/
                    font-size: 14px;
                }
                @media (min-width: 576px) and (max-width: 700px) {
                    /* sm*/
                    font-size: 14px;
                }
                @media (max-width: 575px) {
                    /* xs*/
                    font-size: 14px;
                }
                >i {
                    position: absolute;
                    top: -10px;
                    right: -20px;
                }
            }
        }

        >.cur {
            >a {
                color: @l-red;
            }
            border-bottom: 2px solid @l-red;
        }
    }
}

.member_cont {
    text-align: center;
    .member_contborder_box {
        border: 1px solid #eee;
        box-shadow: 0 0 10px #eee;
        border-radius: 7px; //overflow: hidden;
        margin: 30px 0 0 0;

        .order_cont_title_box {
            padding: 15px 0;
            border-bottom: 1px solid #eee; //.order_cont_title_btn{
            //  width: 80px;
            //}
        }

        .order_cont_title {
            text-align: left;
            color: @l-orange;
            .iconfont {
                vertical-align: middle;
                font-size: 14px;
            }
            .title_hide{
                display: none;
            }
            >h3 {
                font-size: 24px;
                color: @l-orange;
                text-align: left; //padding-left: 30px;
                line-height: 50px;
                @media (min-width: 576px) and (max-width: 700px) {
                    /* sm*/
                    font-size: 20px;
                }
                @media (max-width: 575px) {
                    /* xs*/
                    font-size: 20px;
                }
            }
            .title_green {
                color: @l-green;
            }
            .title_disable {
                color: #ccc;
            }
            >div {
                //padding-left: 30px;
                //line-height: 20px;
                text-align: left;
                padding-right: 20px;
                line-height: 20px;
                //  :nth-child(1) {
                //     padding-left: 0px;
                // }
                >p {
                    padding-left: 20px;
                    vertical-align: middle;
                    >span {
                        font-size: 12px;
                        color: #999;
                    }
                    >i {
                        font-size: 12px;
                        color: #333;
                    }
                    .order_cont_title_price {
                        font-size: 12px;
                        color: #333;
                        font-weight: 900;
                    }
                    @media (min-width: 992px) and (max-width: 1199px) {
                        /* lg*/
                    }
                    @media (min-width: 701px) and (max-width: 991px) {
                        /* md*/
                        padding: 0;
                    }
                    @media (min-width: 576px) and (max-width: 700px) {
                        /* sm*/
                        display: block;
                        padding: 0px;
                       line-height: 22px;
                    }
                    @media (max-width: 575px) {
                        /* xs*/
                        display: block;
                        padding: 0px;
                        line-height: 22px;
                    }
                }
            }
            >a {
                font-size: 12px;
                padding: 0 0 0 20px;
                line-height: 20px;
                border-left: 1px solid #eee;
                @media (min-width: 992px) and (max-width: 1199px) {
                    /* lg*/
                    border-left: none;
                    padding: 0;
                    display: block;
                    line-height: 30px;
                }
                @media (min-width: 701px) and (max-width: 991px) {
                    /* md*/
                    border-left: none;
                    padding: 0;
                    display: block;
                    line-height: 30px;
                }
                @media (min-width: 576px) and (max-width: 700px) {
                    /* sm*/
                    border-left: none;
                    padding: 0;
                    display: block;
                    line-height: 30px;
                }
                @media (max-width: 575px) {
                    /* xs*/
                    border-left: none;
                    padding: 0;
                    display: block;
                    line-height: 30px;
                }
            }

            
        }
        .order_cont_title_btn {
            text-align: right;
            margin-top: 10px;
            >a {
                width: 60px;
                font-size: 12px;
                text-align: center; //margin:  0 30px 0 0;
            }
             :nth-child(1) {
                margin-bottom: 10px;
            }

            .l-btn-red {
                border: 1px solid @l-red;
            }
        }
    }
}

//产品模块1
.order_content_box,
.order_content3_box {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #eee;
    .order_content_img {
        text-align: left;
        vertical-align: middle;
        img {
            width: 80px;
            height: 80px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            /* lg*/
        }
        @media (min-width: 701px) and (max-width: 991px) {
            /* md*/
        }
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            img {
                width: 60px;
                height: 60px;
            }
        }
        @media (max-width: 575px) {
            /* xs*/
            display: none;
        }
    }
    .order_content_name {
        text-align: left;
        vertical-align: middle;
        h4 {
            font-size: 16px;
            color: #333;
            line-height: 30px;
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                font-size: 14px;
            }
            @media (max-width: 575px) {
                /* xs*/
                font-size: 14px;
            }
        }
        span {
            font-size: 12px;
            color: #999;
        }
    }
    .order_content_nub {
        font-size: 12px;
        color: #999;
        vertical-align: middle;
        @media (max-width: 575px) {
            /* xs*/
            text-align: right;
        }
    }
}

//产品模块2
.order_content2_box {
    padding: 25px 0;
    background: #f8f8f8;
    .order_content2_img {
        vertical-align: middle;

        >i {
            height: 30px;
            width: 30px;
            line-height: 30px;
            border-radius: 15px;
            text-align: center;
            background: @l-red;
            font-size: 17px;
            color: #fff;
        }
    }
    .order_content2_name {
        text-align: left;
        vertical-align: middle;
        >h4 {
            font-size: 12px;
            >span {
                display: none;
                @media (min-width: 576px) and (max-width: 700px) {
                    /* sm*/
                    display: inline-block;
                }
                @media (max-width: 575px) {
                    /* xs*/
                    display: inline-block;
                }
            }
        }
        >p {
            font-size: 12px;
            color: #666;
            line-height: 20px;
            >a {
                display: inline-block;
            }
        }
    }
    .order_content_nub {
        vertical-align: middle;
        font-size: 12px;
        color: #999;
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            display: none;
        }
        @media (max-width: 575px) {
            /* xs*/
            display: none;
        }
    }
}

//产品模块3
.order_content3_box {
    .order_content_btns {
        vertical-align: middle;
        text-align: right;
        >ul {
            .l-btn-sm {
                display: none;
            }
            .l-btn-orange {
                display: inline-block;
                color: #fff;
                text-align: center;
            }
            .order_list_more {
                height: 32px;
                line-height: 32px;
                z-index: 9;
                input {
                    width: 1px;
                    height: 1px;
                    border: none;
                    background: #fff;
                }
                display: none;
                >a{
                    @media (max-width: 575px) {
                        width: 60px;
                    }
                }

                }

            li {
                margin: 15px 0 0 0;
                min-height: 20px;
                position: relative;
                .l-float-tops {
                    position: absolute;
                    right: 0px;
                    display: none;
                    width: 150px;
                    .float_content {
                        left: -10px;
                        height: auto;
                        top: 10px;
                        a {
                            border-top: 1px solid #eee;
                            font-size: 12px;
                            color: #666;
                            display: inline-block;
                            text-align: left;
                            line-height: 40px; 
                            >i {
                                font-size: 12px;
                                   padding-left: 5px;
                            }
                        }
                         :first-child {
                            border: none;
                        }
                    }

                    p {
                        left: 115px;
                        top: -10px;
                    }
                }
                .l-btn-orange{
                  max-width: 100px;
                }
                @media (min-width: 576px) and (max-width: 700px) {
                    /* sm*/
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                }
                // @media (max-width: 575px) {
                //     /* xs*/
                //     display: inline-block;
                //     vertical-align: middle;
                //     margin: 0;
                //     width: auto !important;
                //     .check_service {
                //         margin: 0 0 0 10px;
                //     }
                // }
                >a {
                  display: inline-block;
                  width: 100px;
                  text-align: center;
                    color: #666;
                    font-size: 12px;
                   
                }
            } 

            @media (min-width: 576px) and (max-width: 700px){
              text-align: left;
              margin: 15px 0 0 0;
              li{
 width:  auto !important;
                a{
                  text-align: center;
                }
              }
                .l-btn-orange{
                width: 70px;  
              }
              .sm-hide{
                display: none;
              }
              .check_service{
                 display: inline-block;
                 width: 95px; 
                margin: 0 0 0 10px;

              }
              .see-evaluate{
                  display: inline-block;
                  width: 95px;
              }
              .order_list_more{
                float: right;
                display: inline-block;
                text-align: right;
                vertical-align:bottom;

              }
            }

          @media (max-width: 575px){
              text-align: left;
              margin: 15px 0 0 0;
              li{
                  width:  auto !important;
                a{
                  text-align: center;
                }
              }
              .l-btn-orange{
                width: 70px;  
              }
              .sm-hide{
                display: none;
              }
              .see-evaluate{
                  display: inline-block;
                  width: 95px;
              }
              .check_service{
                 display: inline-block;
                 width: 95px; 
                margin: 0 0 0 10px;
              }
              .order_list_more{
                float: right;
                display: inline-block;
                text-align: right;
                vertical-align:bottom;
              }
            }

            // @media (min-width: 576px) and (max-width: 700px) {
            //     /* sm*/
            //     margin: 20px 0 0 10px;
            //     text-align: left;
            //     >li {
            //         text-align: center;
            //     }
            //      :nth-child(2) {
            //         // a {
            //         //     display: none;
            //         // }
            //         .l-btn-sm {
            //           text-align: center !important;
            //             display: inline-block;
            //         }
            //     }
            //      :nth-child(3) {
            //         display: none;
            //     }
            //      >:nth-child(2) {
            //         display: none;
            //     }
            //      :nth-child(5) {
            //         display: inline-block; //width: 50%;
            //         text-align: right;
            //     }
            // }
            // @media (max-width: 575px) {
            //     /* xs*/
            //     margin: 20px 0 0 0;
            //     text-align: left;
            //     >li {
            //         text-align: center;
            //     }
            //          .order_list_more{
            //           float: right;
            //         }
            //      :nth-child(2) {
            //         // a {
            //         //     display: none;
            //         // }
            //         .l-btn-sm {
            //            text-align: center !important;
            //             display: inline-block;
            //             width: 90px;
            //         } //margin-left: 10px;
            //         text-align: left;
            //     }
            //      :nth-child(3) {
            //         display: none;
            //     }
            //      :nth-child(4) {
            //         display: none;
            //     }
            //      :nth-child(5) {
            //         display: inline-block; //width: 50%;
            //         text-align: right;
            //     }
            // }
           
        }
    }
}

//弹窗样式
.land-cont-title {
    text-align: center;
    border-bottom: 1px solid #eee;
    >div {
        text-align: left;
        >i {
            font-size: 16px;
        }
    }
}

.land-shade .land-box {
    width: 600px;
    text-align: center;
    @media (min-width: 576px) and (max-width: 700px) {
        /* sm*/
        width: 92%;
        position: relative;
        margin: 15% auto 0;
        border-radius: 8px;
    }
    @media (max-width: 575px) {
        /* xs*/
        width: 92%;
        position: relative;
        margin: 15% auto 0;
        border-radius: 8px;
    }
}

.logistics-title {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 30px 0 20px 0;
    line-height: 28px;
    p {
        font-size: 16px;
        text-align: left;
    }
    span {
        font-size: 12px;
        color: @l-orange;
    }
}

.logistics_cont {
    max-height: 250px;
    height: 250px;
    padding-bottom: 30px;
}

.logistics-list {
    text-align: center;
    padding: 0 0 40px 0;
    @media (min-width: 576px) and (max-width: 700px) {
        /* sm*/
         :last-child {
            border-left: none;
        }
        padding: 20px 0 40px 0;
    }
    @media (max-width: 575px) {
        /* xs*/
         :last-child {
            border-left: none;
        }
        padding: 20px 0 0 0;
    }
     :first-child {
        border-left: none;
        margin-bottom: -1px;
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            border-left: 1px solid #eee;
        }
        @media (max-width: 575px) {
            /* xs*/
            border-left: 1px solid #eee;
        }
    }
    li {
        border-left: 1px solid #eee;
        text-align: left;
        padding-top: 20px;
        height: 18px;
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            height: auto;
            padding: 0 0 20px 0;
        }
        @media (max-width: 575px) {
            /* xs*/
            height: auto;
            padding: 0 0 20px 0;
            >span {
                vertical-align: top;
            }
            i {
                vertical-align: top;
            }
            p {
                vertical-align: top !important;
            }
        }
        >span {
            color: #ccc;
            font-size: 10px;
            margin-left: -6px;
            vertical-align: middle;
            position: relative;
            z-index: 2;
        }
        i {
            color: #666;
            font-size: 12px;
            vertical-align: middle;
            padding: 0 20px;
        }
        p {
            font-size: 12px;
            color: #666;
            vertical-align: middle;

            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                display: block;
                padding: 10px 0 0 20px;
                width: 90%;
            }
            @media (max-width: 575px) {
                /* xs*/
                span {
                    padding-bottom: 10px;
                    border-left: none !important;
                }
            }
        }
    }
    .over {
        >span {
            color: @l-red;
        }
    }
}

.order_cont_title_time {
    padding-left: 0 !important;
}
.prdouct-search-zanwu{
    padding-top: 60px;
    display: none;
    p{
        font-size: 20px;
        color: #333;padding-top: 20px;
    }
    div{
        padding-top: 10px;
        font-size: 16px;
    }

    i{
        vertical-align: middle;
        display: inline-block;
        height: 20px;
        line-height: 22px;
    }
    span{
        vertical-align: top;
        display: inline-block;
        height: 20px;
        line-height: 20px;
    }
    @media (max-width: 575px) {
        /* xs*/
        padding-top: 45px;
        img{
            width: 64px;
        }
    }
}
.order-title-in-orange,.order-title-in-green{
    h3{
        font-size: 16px;

        padding: 5px 0 5px 0;
        border-radius: 8px;
        border: 1px solid #eee;
        width: 79px;
        text-align: center;
        display: inline-block;
        margin: 10px 10px 0 0;
    }
    text-align: right;

    .title_hide{
        font-size: 0;
        border: 0;
        margin: 0;
        padding: 30px 0 0 0 ;
    }
}


.order-title-in-orange{
    h3{color:@l-orange ; }
}
.order-title-in-green{
    h3{color:@l-green ; }
}
.cursor-not{
    cursor: no-drop;
}