@import "l_variable";
.member-security{
  text-align: center;
}
.member_orderdetail_title_box{
  text-align: center;
  >h2{
    font-size: 24px;
    color: #333;
    padding-left: 50px;
    line-height: 85px;
    border-bottom: 1px solid #eee;
    text-align: left;
    @media (max-width: 575px) {
      /* xs*/
      font-size: 16px;

    }
  }

}
.member_contborder_box{
  border: 1px solid #eee;
  box-shadow: 0 0 10px #eee;
  border-radius: 7px;
  //overflow: hidden;
  margin: 30px 0 0 0 ;
}
.detail_cont_title_box{
  padding: 17px 0;
  border-bottom: 1px solid #eee;
  line-height: 32px;
  .detail_cont_title_text{
    text-align: left;
    span{
      color: #999;
      font-size: 16px;
    }
    i{
      color: #333;  font-size: 16px;

    }
  }

  .detail_cont_title_btn{
    text-align: right;
    a{
      font-size: 12px;
      width: 70px;
      text-align: center;
      margin-left: 10px;
    }
  }
}
.detail_cont_top{
  text-align: left;
  padding: 30px 0 ;
  h3{
    font-size: 16px;
    color: #333;
    font-weight: 900;
    padding-bottom: 15px;
  }
  p{
    line-height: 20px;
    span{
      font-size: 14px;
      color: #999;
    }
    i{
      font-size: 14px;
      color: #333;
    }
  }
}
.detail_cont_box{
  border: 1px solid #eee;
}
.order_content3_box{
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  .order_content_img{
    text-align: left;
    vertical-align: middle;
    img{
      width: 80px;
      height: 80px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      /* lg*/
    }
    @media (min-width: 701px) and (max-width: 991px) {
      /* md*/
    }
    @media (min-width: 576px) and (max-width: 700px) {
      /* sm*/
      img{
        width: 60px;
        height: 60px;
      }
    }
    @media (max-width: 575px) {
      /* xs*/
      display: none;
    }
  }
  .order_content_name{
    text-align: left;
    vertical-align: middle;
    h4{
      font-size: 16px;
      color: #333;
      line-height: 30px;
      @media (min-width: 576px) and (max-width: 700px) {
        /* sm*/
        font-size: 14px;
      }
      @media (max-width: 575px) {
        /* xs*/
        font-size: 14px;

      }
    }
    span{
      font-size: 12px;
      color: #999;
    }
  }
  .order_content_nub{
    font-size: 12px;
    color: #999;
    vertical-align: middle;
    @media (max-width: 575px) {
      /* xs*/
      text-align: right;
    }
  }
}
.datail_product_state_box{
  position: relative;
  .datail_product_state_scroll{
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
  }
}
.datail_product_state{

  overflow-y: hidden;
  overflow-x: auto;
  white-space:nowrap;
    >li{
      border-top: 5px solid #eee;
      color: #999;
      font-size: 12px;
      width: 125px;
      line-height: 35px;
      vertical-align: top;
      padding: 0 0 30px 0;
      p{
        display: none;
      }

    }
  .cur{
    color: @l-green;
    p{
      display:block;
      font-size: 12px;
      color: #999;
      line-height: 20px;
      width: 62px;
      margin: 0 auto;
      white-space: initial;
    }
    .cur_border{
      height: 10px;
      width: 125px;
      border-radius: 10px;
      background: @l-green;
      margin-top: -5px;
      position: relative;

    }
  }
}