@charset "UTF-8";
/* 变量 */
.font-red {
  color: #e60012 !important;
}
.font-orange {
  color: #f39800 !important;
}
.border-none {
  border: none!important;
}
.product-param {
  position: relative;
}
.param-bg {
  z-index: -1;
  position: absolute;
  height: 100%;
}
.param-bg .param-bg-deep {
  height: 100%;
  background: #ededed;
}
.param-bg .param-bg-light {
  height: 100%;
  background: #f8f8f8;
}
.param-con {
  z-index: 1;
  font-size: 12px;
}
.param-con .param-struct {
  margin-top: 60px;
  background: #fff;
  font-size: 12px;
  border: 1px solid #eee;
  box-shadow: 0 0 25px #eee;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
.param-con .param-struct .param-struct-img {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  height: 400px;
}
@media (min-width: 576px) and (max-width: 700px) {
  .param-con .param-struct .param-struct-img {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .param-con .param-struct .param-struct-img {
    height: 200px;
  }
}
.param-con .param-struct .param-attachment {
  padding-top: 26px;
  text-align: left;
  border-top: 1px solid #eee;
  width: 100%;
  min-height: 54px;
}
@media (max-width: 575px) {
  .param-con .param-struct .param-attachment {
    text-align: center;
    padding-bottom: 15px;
  }
}
.param-con .param-struct .param-attachment .param-attachment-title {
  display: inline-block;
  padding: 0 30px;
  font-size: 20px;
  color: #333;
  line-height: 24px;
}
@media (max-width: 575px) {
  .param-con .param-struct .param-attachment .param-attachment-title {
    display: block;
    width: 83%;
    margin-left: 8%;
    margin-bottom: 8px;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
}
.param-con .param-struct .param-attachment .param-attachment-line {
  display: inline-block;
  width: 1px;
  height: 24px;
  background: #eee;
}
.param-con .param-struct .param-attachment .param-attachment-other {
  display: inline-block;
  margin-left: 30px;
  line-height: 28px;
  font-size: 14px;
  color: #666;
}
@media (max-width: 575px) {
  .param-con .param-struct .param-attachment .param-attachment-other {
    margin: 0 15px;
  }
}
.param-con .param-basic {
  padding: 60px 0;
}
.param-con .param-basic .param-basic-bg {
  min-height: 391px;
  background: url(param-basic-bg.jpg) no-repeat left top;
}
.param-con .param-basic .param-basic-con .pad-top48 {
  padding-top: 48px;
}
.param-con .param-basic .param-basic-con .param-basic-title {
  text-indent: 80px;
  color: #333;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 32px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .param-con .param-basic .param-basic-con .param-basic-title {
    text-indent: 105px;
  }
}
@media (min-width: 701px) and (max-width: 991px) {
  .param-con .param-basic .param-basic-con .param-basic-title {
    text-indent: 85px;
  }
}
@media (max-width: 700px) {
  .param-con .param-basic .param-basic-con .param-basic-title {
    text-indent: 20px;
  }
}
.param-con .param-basic .param-basic-con .param-basic-box {
  font-size: 14px;
  margin-left: 60px;
  border-top: 1px solid #dddddd;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .param-con .param-basic .param-basic-con .param-basic-box {
    margin-left: 85px;
  }
}
@media (min-width: 701px) and (max-width: 991px) {
  .param-con .param-basic .param-basic-con .param-basic-box {
    margin-left: 65px;
  }
}
@media (max-width: 700px) {
  .param-con .param-basic .param-basic-con .param-basic-box {
    margin-left: 0;
  }
}
.param-con .param-basic .param-basic-con .param-basic-box .param-basic-list {
  border-bottom: 1px solid #dddddd;
  line-height: 50px;
}
.param-con .param-basic .param-basic-con .param-basic-box .param-basic-list .param-key {
  font-weight: bold;
  padding-left: 20px;
}
.param-con .param-basic .param-basic-con .param-basic-box .param-basic-list .param-value {
  float: right;
  padding-right: 20px;
}
