@import "l_variable";

//购物车头部
.trolley-head{
	background: #fff;
	border-bottom: 1px solid #eee;
}
.trolley-logo{
	display: inline-block;
	margin-left: -30px;
	padding-top: 30px;
	width: 60px;
	height: 60px;
	@media (min-width:701px) and (max-width: 1199px) {
		margin-left: -25px;
		padding-top: 25px;
		width: 50px;
		height: 50px;
	}
	@media (max-width: 700px) {
		margin-left: -20px;
		padding-top: 15px;
		width: 40px;
		height: 40px;
	}
	@media (max-width: 575px) {
		margin-left: 0;
	}
	img{
		width: 100%;
	}
}
.trolley-title{
	display: inline-block;
	line-height: 120px;
	font-size: 24px;
	text-indent: 25px;
	font-family: 'Microsoft YaHei';
	@media (min-width:701px) and (max-width: 1199px) {
		line-height: 100px;
		text-indent: 20px;
	}
	@media (max-width: 700px) {
		line-height: 70px;
		font-size: 20px;
		text-indent: 20px;
	}
}
.trolley-username{
	float: right;
	display: inline-block;
	line-height: 120px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	color: #333;
	@media (min-width:701px) and (max-width: 1199px) {
		line-height: 100px;
	}
	@media (max-width: 700px) {
		line-height: 70px;
	}
}

// 支付成功
.pay-success{
	// padding: 60px 0 45px;
	// @media (min-width: 701px) and (max-width: 1199px) {
	// 	padding: 45px 0 60px ;
	// }
	// @media (min-width: 701px) and (max-width: 1199px) {
	// 	padding: 45px 0 30px ;
	// }
	// @media (min-width: 701px) and (max-width: 1199px) {
	// 	padding: 45px 0 15px ;
	// }
	padding-top: 60px;
	@media (max-width: 1199px) {
		padding-top: 45px;
	}
}
.success-logo{
	display: inline-block;
	width: 70px;
	i{
		font-size: 48px;
		color: @l-green;
	}
}
.success-tip{
	display: inline-block;
	@media (max-width:399px) {
		max-width: 196px;
	}
}
.success-tip-tit{
	font-size: 24px;
	line-height: 28px;
	color: #333;
}
.success-tip-det{
	font-size: 14px;
	line-height: 30px;
	color: #666;
	em{
		color: @l-orange;
		padding: 0 2px;
	}
}
.success-tip-address{
	padding: 10px 0 45px 70px;
	font-size: 12px;
	line-height: 18px;
	color: #666;
	@media (min-width: 701px) and (max-width: 1199px) {
		padding: 10px 0 60px 70px;
	}
	@media (min-width: 576px) and (max-width: 700px) {
		padding: 10px 0 35px 70px;
	}
	@media (max-width: 575px) {
		padding: 10px 0 15px 70px;
	}
	span{
		@media (max-width: 991px) {
			display: block;
		}
	}
}
.tip-address-tit{
	color: #999;
}
.tip-address-price{
	@media (min-width:701px) {
		float: right;
	}
	@media (max-width:700px) {
		padding-top: 14px;
	}
	em{
		font-size: 32px;
		color: @l-red;
		@media (max-width:700px) {
			font-size: 16px;
		}
	}
}
// 支付方式
.pay-system-xl{
	width: 100%;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	@media (max-width: 1199px) {
		display: none;
	}
}
.pay-system-head{
	a{
		display: block;
		font-size: 14px;
		color: #999;
		line-height: 60px;
		height: 60px;
		text-align: center;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		&.active,&:hover{
			position: relative;
			top: -1px;
			border-top: 1px solid @l-red;
			border-bottom: 1px solid #fff;
		}
	}
}
.pay-system-con{
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.pay-system-wechat{
	padding: 60px 0;
	text-align: center;
}
.pay-system-alipay{
	padding: 90px 0 150px;
	text-align: center;
}
.alipay-info{
	line-height: 60px;
	color: #666;
	font-size: 14px;
}
.alipay-btn{
	padding-top: 18px;
	text-align: center;
	a{
		min-width: 165px;
		font-size: 14px;
	}
}
.pay-system-instalments{
	padding: 60px 0 60px;
}
.instalments-select{
	margin: 0 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
	li{
		display: inline-block;
		margin-right: 30px;
		width: 245px;
		height: 58px;
		line-height: 58px;
		text-align: center;
		border: 1px solid #eee;
		img{
			display: inline-block;
			padding-top: 15px;
			width: 150px;
			height: 28px;
		}
	}
}
.instalments-info{
	padding: 30px 60px;
	line-height: 18px;
	font-size: 12px;
	color: #666;
}
.instalments-con{
	padding: 0 30px 0 60px;
	li{
		display: inline-block;
		text-align: center;
		width: 33.33%;
	}
}
.instalments-box{
	padding: 40px 0 45px;
	margin-right: 30px;
	border: 1px solid #eee;
}
.instalments-price{
	line-height: 28px;
	font-size: 20px;
	color: @l-red;
}
.instalments-price-gray{
	line-height: 35px;
	font-size: 14px;
	color: #666;
}
.instalments-btn{
	padding-top: 10px;
	font-size: 12px;
	a{
		display: inline-block;
		min-width: 165px;
	}
}
.pay-system-more{
	padding-left: 60px;
}
.more-info{
	padding: 60px 0 30px;
	margin-right: 60px;
	font-size: 14px;
	line-height: 18px;
	color: #666;
	border-top: 1px solid #eee;
	&:first-child{
		border: none;
	}
	em{
		color: #333;
	}
}
.more-list{
	padding: 0 30px 15px 0;
	li{
		display: inline-block;
		padding-bottom: 30px;
		width: 25%;
	}
}
.more-list-pre{
	margin-right: 30px;
	border: 1px solid #eee;
	text-align: center;
	img{
		display: inline-block;
		width: 150px;
		height: 30px;
		padding: 14px 0;
	}
}

.pay-system-lg{
	padding-bottom: 90px;
	border-top: 1px solid #eee;
	text-align: center;
	@media (min-width: 1200px) {
		display: none;
	}
}
.system-tit{
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 20px;
	height: 20px;
	font-size: 20px;
	text-align: center;
	background: #fff;
	color: #333;
}
.system-lg-con{
	position: relative;
	margin-right: -30px;
	padding-top: 25px;
	text-align: left;
}
.system-pay{
	position: relative;
	margin: 0 30px 30px 0;
	border: 1px solid #eee;
	text-align: center;
	&:hover,&.active{
		border: 1px solid @l-red;
		cursor: pointer;
	}
	img{
		padding: 35px 0;
		width: 150px;
		height: 30px;
		@media (min-width: 576px) and (max-width: 700px) {
			padding: 14px 0;
		}
		@media (max-width: 575px) {
			padding: 14px 0;
			width: 105px;
			height: 20px;
		}
	}
	em{
		display: inline-block;
		position: absolute;
		left: 50%;
		bottom: -6px;
		margin-left: -62px;
		padding: 0 10px;
		height: 12px;
		font-size: 12px;
		color: #999;
		background: #fff;
	}
}
.pay-footer{
	// position: fixed;
	bottom: 0;
	background: #fff;
	border-top: 1px solid #eee;
	text-align: center;
	@media (min-width:1200px) {
		display: none;
	}
	a{
		margin: 20px 0;
		min-width: 370px;
		color: #fff;
		font-size: 12px;
		@media (min-width:992px) {
			font-size: 16px;
		}
		@media (min-width:701px) and (max-width: 991px) {
			min-width: 260px;
		}
		@media (min-width:576px) and (max-width: 700px) {
			min-width: 275px;
		}
		@media (max-width: 575px) {
			min-width: 80%;
		}
	}
	.l-btn-lg{
		display: none;
	}
	.l-btn-normal{
		@media (min-width:992px) {
			display: none;
		}
	}
}
