@import "l_variable";

.trolley-head {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.trolley-logo {
    display: inline-block;
    margin-left: -30px;
    padding-top: 30px;
    width: 60px;
    height: 60px;
    @media (min-width: 701px) and (max-width: 1199px) {
        margin-left: -25px;
        padding-top: 25px;
        width: 50px;
        height: 50px;
    }
    @media (max-width: 700px) {
        margin-left: -20px;
        padding-top: 15px;
        width: 40px;
        height: 40px;
    }
    @media (max-width: 575px) {
        margin-left: 0;
    }
    img {
        width: 100%;
    }
}

.trolley-title {
    display: inline-block;
    line-height: 120px;
    font-size: 24px;
    text-indent: 25px;
    font-family: 'Microsoft YaHei';
    @media (min-width: 701px) and (max-width: 1199px) {
        line-height: 100px;
        text-indent: 20px;
    }
    @media (max-width: 700px) {
        line-height: 70px;
        font-size: 20px;
        text-indent: 20px;
    }
}

.trolley-username {
    float: right;
    display: inline-block;
    line-height: 120px;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    color: #333;
    @media (min-width: 701px) and (max-width: 1199px) {
        line-height: 100px;
    }
    @media (max-width: 700px) {
        line-height: 70px;
    }
}

.product-ordercon-title {
    text-align: left;
    margin: 60px 0 30px 0;
    @media (min-width: 701px) and (max-width: 1199px) {
        margin: 30px 0 0 0;
        h4 {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 700px) {
        margin: 30px 0 0 0;
        h4 {
            margin-bottom: 20px;
        }
    }
    h4 {
        font-size: 24px;
        color: #333;
    }
    a {
        float: right;
        font-size: 14px;
        vertical-align: bottom;
        height: 30px;
        line-height: 30px;
    }
}

.product-ordercon-box {
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    border-radius: 7px;
    padding-top: 35px;
    padding-bottom: 60px;
    background: #fff;
    display: none;
    .product-ordercon-list-title {
        font-size: 14px;
        line-height: 40px;
        text-align: right;
        span {
            color: red;
            padding-right: 5px;
        }
        p {
            @media (max-width: 575px) {
                /* xs*/
                text-align: left;
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                text-align: left;
            }
        }
    }
    .product-ordercon-list-input {
        text-align: center;
        .selectbox {}
        .member-address-textarea3-2,
        .member-address-textarea3-4 {
            padding-left: 10px;
            @media (min-width: 701px) and (max-width: 991px) {
                /* md*/
                padding:0px;
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                padding: 0px;
            }
            @media (max-width: 575px) {
                /* xs*/
                padding: 0px;
            }
        }
        .member-address-textarea3-1,
        .member-address-textarea3-3 {
            padding-right: 10px;
            @media (min-width: 701px) and (max-width: 991px) {
                /* md*/
                padding:0px;
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                padding: 0px;
            }
            @media (max-width: 575px) {
                /* xs*/
                padding: 0px;
            }
        }

        a {
            position: inherit;
            font-size: 14px;
        }

        .product-ordercon-list-btn {
            color: #666;
        }
        .name {
            top: 0px;
            right: 0px;
            border: none;
        }
        @media (max-width: 575px) {
            /* xs*/
            >div>div {
                margin-bottom: 10px;
            }
        }
    }
    >li {
        margin-bottom: 20px;
        @media (min-width: 701px) and (max-width: 991px) {
            /* md*/
        }
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            text-align: center;
        }
        @media (max-width: 575px) {
            /* xs*/
            text-align: center;
        }
    }
}

.product-address-list-box {
    margin: 30px 0; //border-radius: 7px;
    >li {
        margin-bottom: 25px;
    }
    .product-address-list {
        //height: 80px;
        line-height: 80px;

        border: 1px solid #eee;
        box-shadow: 0 0 10px #eee;
        background: #fff;

        >a {
            float: right;
            padding-right: 30px;
        }
        >.c_ipt_cr {
            background-image: url(trolley_icon_sm.png);
            height: 32px;
            line-height: 32px;
            padding-left: 40px;
        }
        >.c_ipt_cr_cs {
            background-position: 0 -62px;
        }
        >.c_ipt_cr_cus {
            background-position: 0 0;
        }
        span {
            vertical-align: middle;
            margin-left: -17px;
        }
        >p {
            font-size: 14px;
            color: #999;
            vertical-align: middle;
            padding-left: 40px;

            i {
                padding-right: 20px;
            }
            @media (max-width: 575px) {
                /* xs*/
                padding-left: 20px;
            }
        }
        >a {
            text-align: right;
            color: #999;
            font-size: 12px;
        }
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            >p {
                line-height: 25px;
            }
            >a {
                text-align: right;
            }
        }
        @media (max-width: 575px) {
            /* xs*/
            padding: 20px 0;
            >p {
                line-height: 25px;
                padding: 0 0 5px 0;
            }
            >a {
                text-align: right;
                float: right;
                width: auto !important;
                padding-right: 10px;
                vertical-align: top;
                line-height: 50px;
            }
        }
    }
    .product-address-list-select{
      border-color: @l-red;
      .order-address-set-btn{
        display: inline-block;
      }
    }
}

.product-ordercon-payment {
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    font-size: 14px;
    line-height: 60px;
    background: #fff;
    color: #333;
    p {
        padding-left: 40px;
    }
}

.product-ordercon-time-box {
    padding-top: 25px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    border-radius: 7px;
    text-align: center;
    background: #fff;
    >div {
        text-align: left;


        >a {
            width: 200px;
            font-size: 14px;
            text-align: center;
            margin-right: 12px;
        }
        >p {
            color: #ee9500;
            margin: 10px 0;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            /* lg*/
        }
        @media (min-width: 701px) and (max-width: 991px) {
            /* md*/
        }
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            >a {
                width: 160px;
            }
        }
        @media (max-width: 575px) {
            /* xs*/
            text-align: center;
            >a {
                margin-bottom: 10px;
            }
            >p {
                width: 260px;
                margin: 0 auto;
                text-align: left;
            }
        }
    }

    p {
        font-size: 14px;
        line-height: 30px;
    }
    .l-btn-orange {
        color: #fff;
    }
    .selectbox {
        width: 240px;
        margin-right: 11px;
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            margin:0;
            >div {
                width: 96%;
            }
        }
        @media (max-width: 575px) {
            /* xs*/
            margin-right: 0;
        }
    }
    .product-ordercon-time-cont {
        border-top: 1px solid #eee;
        margin: 25px 0;
        padding: 25px 0;
    }
}

.product-ordercon-time-btn {
    margin: 15px 0;
    a {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;

        @media (max-width: 575px) {
            /* xs*/
            width: 240px !important;
        }
    }
    @media (min-width: 701px) and (max-width: 991px) {
        /* md*/
        .l-btn-red {
            max-width: 130px;
            margin: 0 15px 0 0;
        }
        .product-ordercon-list-btn {
            max-width: 75px;
        }
    }
    @media (min-width: 576px) and (max-width: 700px) {
        /* sm*/
        .l-btn-red {
            max-width: 130px;
            margin: 0 15px 0 0;
        }
        .product-ordercon-list-btn {
            max-width: 75px;
        }
    }
}

.product-ordercon-setInvoice {

    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    border-radius: 7px;
    padding: 50px 0;
    background: #fff;
   @media (min-width: 576px) and (max-width: 700px) {
        text-align: center;
        /* xs*/
    }
    @media (max-width: 575px) {
        text-align: center;
        /* xs*/
    }
    >li {
        padding-bottom: 15px;
        p {
            font-size: 14px;
        }
        .ordercon-setInvoice-list-title {
            font-size: 14px;
            color: #333;
            text-align: right;
            line-height: 40px;
            span {
                color: red;
                padding-right: 10px;
            }
            i {
                color: red;
                padding-left: 10px;
                display: none;
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                text-align: left;
                span{
                  display: none;
                }
                i{
                  display: inline-block;
                }
            }
            @media (max-width: 575px) {
                text-align: left;
                       span{
                  display: none;
                }
                                i{
                  display: inline-block;
                }
                /* xs*/
            }
        }
        .ordercon-setInvoice-list-cont {
            >span {
                //margin: 25px;
            }
            a {
                font-size: 14px;
            }
            p {
                color: #f39800;
                line-height: 20px;
            }
        }
        >div {
            padding-left: 30px;
            line-height: 40px;
        
            span {
                margin-right: 25px;
                font-size: 14px;
            }
        }
        .ordercon-setInvoice-list-btn {
            margin-top: 10px;
            @media (max-width: 575px) {
                /* xs*/
                text-align: center;
                a {
                    margin-bottom: 10px;
                }
            }
            a {
                font-size: 14px;
                text-align: center;
            }
        }
           @media (min-width: 576px) and (max-width: 700px) {
        text-align: left;
        /* xs*/
         >div{
                  padding:0;
                 }
    }
             @media (max-width: 575px) {
                text-align: left;
                /* xs*/
                 >div{
                  padding:0;
                 }
            }
    }
}

.product-ordercon-invoice-box {
    font-size: 14px;
    color: #999;
    line-height: 28px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    border-radius: 7px;
    background: #fff;
    padding: 20px 0;
    @media (min-width: 576px) and (max-width: 700px) {
        /* sm*/
    }
    @media (max-width: 575px) {
        /* xs*/
        // line-height: 28px;
        font-size: 12px;
    }
    div {
        padding-left: 40px;

        span {
            color: #333;
            padding-right: 30px;
        }
        @media (max-width: 575px) {
            /* xs*/
            padding-left: 30px;
        }
    }


    a {
        font-size: 16px;
        color: #999;
        span {
            color: #333;
            font-size: 12px;
            padding-left: 5px;
        }
        float: right;
        padding-right: 30px;
        @media (max-width: 575px) {
            /* xs*/
            padding-right: 15px;
        }
    }
}

.product-orderconfirm-prolist-box {
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    border-radius: 7px;
    .product-orderconfirm-prolist-title {
        font-size: 14px;
        background: #f3f3f3;
        padding: 20px 0;
        i {
            // padding-left: 40px;
            line-height: 65px;
            line-height: 28px;
            padding: 0 0 0 40px;
            text-align: left;
        }
        @media (min-width: 701px) and (max-width: 991px) {
            /* md*/
            font-size: 12px;
        }
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            font-size: 12px;
        }
        @media (max-width: 575px) {
            /* xs*/
            font-size: 12px;
            text-align: center;
            i {

                padding: 18px 0;
            }
        }
    }
    .product-orderconfirm-prolist-cont {
        padding: 20px 0;
        background: #fff;
        .order-prolist-cont-img {
            text-align: right;
            vertical-align: middle;
            img {
                width: 80px;
                height: 80px;
            }
            @media (min-width: 701px) and (max-width: 991px) {
                /* md*/
                text-align: center;
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                text-align: center;
            }
            @media (max-width: 575px) {
                /* xs*/
                text-align: center;
                display: none;
            }
        }

        .order-prolist-cont-title {
            text-align: left;
            vertical-align: middle;
            p {
                font-size: 16px;
                color: #333;
                line-height: 27px;
            }
            span {
                font-size: 14px;
                color: #999;
            }
            @media (min-width: 701px) and (max-width: 991px) {
                /* md*/
                p,
                span {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                p,
                span {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            @media (max-width: 575px) {
                /* xs*/
                p,
                span {
                    font-size: 12px;
                    line-height: 18px;
                }
                margin-left: 20px;
            }
        }
        .order-prolist-cont-nub {
            font-size: 14px;
            line-height: 80px;
            text-align: left;
            span {
                font-size: 17px;
                color: #333;
                padding-right: 5px;
                vertical-align: bottom;
            }
            span:nth-child(2) {
                font-size: 14px;
                padding-left: 5px;
            }

            @media (min-width: 701px) and (max-width: 991px) {
                /* md*/
                text-align: right;
                span {
                    font-size: 14px;
                }
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                text-align: center;
                float: right;
                span {
                    font-size: 14px;
                }
            }
            @media (max-width: 575px) {
                /* xs*/
                text-align: right;
                span {
                    font-size: 14px;
                }
                float: right;
                padding-right: 10px;
                line-height: 40px;
            }
        }

        .order-prolist-cont-total {
            color: red;
            font-size: 17px;
            line-height: 80px;
            text-align: center;
            @media (min-width: 701px) and (max-width: 991px) {
                /* md*/
                font-size: 14px;
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                font-size: 14px;
                display: none;
            }
            @media (max-width: 575px) {
                /* xs*/
                font-size: 14px;
                display: none;
            }
        }
    }
    .product-nogoods {
        .order-prolist-cont-productno {
            color: #f39800;
            font-size: 14px;
            line-height: 80px;
            vertical-align: middle;
            text-align: right;
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                line-height: 50px;
                text-align: center;
            }
            @media (max-width: 575px) {
                /* xs*/
                // line-height: 50px;
                display: none;
            }
        }
        .order-prolist-cont-img {
            position: relative;


            img {
                opacity: 0.4;
                filter: alpha(opacity=40);
            }
        }
        .order-prolist-cont-title,
        .order-prolist-cont-total {
            color: #999;
            span {
                color: #999;
            }
            p {
                color: #999;
            }
            i {
                color: #999;
            }
        }


        .order-prolist-cont-nub {
            color: #999;
            span {
                color: #999;
            }
            p {
                display: none;
            }

            @media (max-width: 575px) {
                line-height: 29px;
                /* xs*/
                p {
                    display: block;
                    text-align: right;
                    color: #f39800;
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
    }
}

.product-orderconfirm-give-box {
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    border-radius: 7px;
    margin-top: 30px;
    text-align: center;
    background: #fff;
    .product-orderconfirm-give-list {
        text-align: left;
        border-bottom: 1px solid #eeeeee; //overflow: hidden;
        line-height: 38px;
        padding:20px 0;
        span {
            font-size: 14px;
            color: #666;
        }
        .give-img {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: @l-red;
            color: #fff;
            // margin-right: 20px;
            text-align: center;
            line-height: 35px;
            border-radius: 35px;
            vertical-align: middle;

  @media (min-width: 576px) and (max-width: 700px) {
             margin: 0;

  }
    @media (max-width: 575px) {
             margin: 0;

    }
        }
        .orderconfirm-give-list-left {
            float: left;

            p {
                font-size: 14px;
                color: #333;
                display: inline-block;
                vertical-align: middle;
            }
            .list-title-img{
              text-align: center;
            }
        }
        .orderconfirm-give-list-right {
            float: right;
            color: #666;
            font-size: 12px;
            @media (min-width: 701px) and (max-width: 991px) {
                /* md*/
                float: none;
                // margin-left: 50px;
            }
            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                float: none;
                margin-left: 0px;
                line-height: 25px;
                // padding-bottom: 10px;
            }
            @media (max-width: 575px) {
                /* xs*/
                float: none;
                margin-left: 0px;
                line-height: 25px;
                // padding-bottom: 10px;
            }
        }
        .orderconfirm-give-list-discount {
            font-size: 14px;
            color: #333;
        }
        .selectbox {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px 0 10px;

            @media (min-width: 576px) and (max-width: 700px) {
                /* sm*/
                width: 90%;
                margin: 0px;
            }
            @media (max-width: 575px) {
                /* xs*/
                width: 90%;
                line-height: 50px;
            }
        }
        .list-title-img{
          text-align: center;
        }
 
        @media (min-width: 701px) and (max-width: 991px) {
            /* md*/
            // line-height: 50px;
            .selectbox{
              margin:0 25px 0 0;
            }

        }
        @media (min-width: 576px) and (max-width: 700px) {
            /* sm*/
            //         div:nth-child(2) {
            //     margin-left: 55px;
            // }
            // line-height: 50px;
            .list-title-space{
              margin: 0  !important;
            }

             
          .list-title-cont{
                 margin-left: 0  !important;
                 .selectbox{
                  margin-left: 0 
                 }
            }
        }
        @media (max-width: 575px) {
            /* xs*/
            //     >div:nth-child(3) {
            //     margin-left: 55px;
            // }
                  .list-title-space{
              margin: 0  !important;
            }
            line-height: 50px;
          
        }
    }
}

.product-orderconfirm-price {
    text-align: center;
    padding-top: 40px;
    background: #fff;
    .orderconfirm-price-list {
        text-align: right;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 30px;

        li {
            p {
                // width: 200px;
                display: inline-block;
                line-height: 35px;
                font-size: 14px;
                span {
                    color: @l-red;
                    padding-right: 5px;
                }
            }
            i {
                display: inline-block;
                width: 90px;
                padding-left: 20px;
                line-height: 35px;
                color: @l-red;
                font-size: 16px;
                text-align: left;
            }
        }
    }
}

.product-orderconfirm-total {
    text-align: right;
    line-height: 90px;
    background: #fff;
    span {
        font-size: 14px;
        color: #333;
        vertical-align: bottom;
    }
    i {
        font-size: 32px;
        color: @l-red;
        vertical-align: bottom;
        padding-left: 30px;
    }
}

.product-orderconfirm-address {
      line-height: 28px;
        padding: 20px 0;

    text-align: right;
    background: #f8f8f8;
    @media (max-width: 575px) {
        /* xs*/
        line-height: 28px;
        padding: 20px 0;

        span {
            display: none;
        }
    }
    p {
        font-size: 14px;
        display: inline-block;
        padding: 0 30px;
        color: #666;
    }
    span {
        font-size: 14px;
        color: #666;
    }
}

.product-orderconfirm-btn {
    font-size: 20px;
    margin: 45px 0;
    text-align: right;
    a {
        width: 200px;
        text-align: center;
    }
}

.member-address-textarea3-1 {
    position: relative;
    z-index: 9;
}

.member-address-textarea3-2 {
    position: relative;

    z-index: 8;
}

.member-address-textarea3-3 {
    position: relative;

    z-index: 7;
}

.member-address-textarea3-4 {
    position: relative;

    z-index: 6;
}
.invoice-cont{
  // height: 38px;
 font-size: 14px;
 border:1px solid #ccc;

}  


    .order-address-set-btn{
        display: none;
       }
          .o_Dropdown{
                    .name{
              color: #ccc !important;
             }
            }
