@import "l_variable";
.reset{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(l_resetbox_mask_xllg.jpg) no-repeat;
  font-size: 14px;
  text-align: center;
  @media (max-width: 991px){//md
    background: url(l_resetbox_mask_md.jpg) no-repeat;
  }
  @media (max-width: 700px){//sm
    background: #fff;
  }
  @media (max-width: 575px){//xs
    position: relative;
    height: auto;
  }
  .box{
    position: relative;
    height: 100%;
    .resetbox{
      width: 100%;
      height: 450px;
      border-radius: 7px;
      display: inline-block;
      background: #fff;
      border: 1px solid #eee;
      @media  (min-width: 701px) and (max-width: 991px){//md
        height: 570px;
      }
      @media (max-width: 700px){//sm
        border: none;
        height: auto;
        margin-bottom: 90px;
      }
      .resetbox_head{
        height: 120px;
        border-bottom: 1px solid #eee;
        @media (max-width: 991px){//md
          height: auto;
        }
        .left{
          .pic{
            width: 80px;
            height: 80px;
            margin:20px 20px 20px 30px;
            display: inline-block;
            @media  (min-width: 701px) and (max-width: 991px){//md
              display: block;
              margin: 40px auto 10px auto;
            }
            @media  (min-width: 576px) and (max-width: 700px){//sm
              display: block;
              margin: 100px auto 10px auto;
            }
            @media  (max-width: 575px){//xs
              display: block;
              margin: 60px auto 10px auto;
            }
          }
          .txt{
            height: 120px;
            line-height: 120px;
            font-size: 24px;
            color: #333;
            display: inline-block;
            @media (max-width: 991px){//md
              display: block;
              height: 30px;
              line-height: 30px;
              text-align: center;
            }
          }
        }
        .right{
          height: 24px;
          margin: 48px 0px;
          display: inline-block;
          @media  (min-width: 576px) and (max-width: 991px){//md
            margin: 40px 0px;
          }
          .num{
            display: inline-block;
            margin-left: 30px;
            @media  (min-width: 992px) and (max-width: 1199px){//lg
              margin-left: 0px;
              margin-right: 30px;
            }
            &.none{
              margin-left: 0px;
            }
            &.cur i{
                background-position:-29px 0px;
            }
            &.cur span{
              color: #e60012;
            }
            i{
              width: 24px;
              height: 24px;
              line-height: 24px;
              font-size: 12px;
              text-align: center;
              color: #fff;
              background: url(l_sprites_bg.png) top left no-repeat;
              display: inline-block;
            }
            span{
              line-height: 24px;
              color: #999;
              font-size: 14px;
              margin-left: 10px;
            }
          }
        }

      }
      .resetbox_form{
        width: 400px;
        margin: 60px auto 0px auto;
        @media  (min-width: 701px) and (max-width: 991px){//md
          width: 60%;
        }
        @media (max-width: 700px){//sm
          width: 80%;
        }
        .l-input{
          width: 100%;
          margin-bottom: 10px;
          input{
            width: 100%;
          }
          i{
            right: 20px;
            top: 12px;
          }
        }
        .next{
          width: 100%;
          margin-top: 10px;
        }
      }
      .resetbox_form_success{
        margin-top: 100px;
        @media (max-width: 575px){//sm
          margin-top: 80px;
        }
        h1{
          font-size: 32px;
          line-height: 38px;
          color: #333;
          margin-bottom: 10px;
          @media (max-width: 575px){//sm
            font-size: 28px;
            line-height: 34px;
          }
        }
        .countdown{
          font-size: 14px;
          color: #999;
          line-height: 20px;
          span{
            color: #e60012;
          }
          a{
            color: #e60012;
          }
        }
      }
    }
  }
  .resetbox_foot{
    position: absolute;
    bottom: 0px;
    width: 100%;
    @media (max-width: 575px){//md
      position: relative;
    }
    .footer{
      border-top: 1px solid #e6e5e4;
    }
  }
}
