@import "l_variable";

/*
    服务条款页面
*/
.service_term_titlebox{
  text-align: center;
  width: 100%;

}
//大标题
.service_term_title{
  color: #333333;
  line-height: 50px;
  @media (min-width:701px){
    font-size: 32px;
    margin-top: 49px;
    margin-bottom: 21px;
  }
  @media (min-width:576px)and ( max-width:700px){
    margin-top: 25px;
    font-size: 28px;
    margin-bottom: 7px;
  }
  @media (max-width: 575px){
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 25px;
  }
}
//内容div
.service_term_contentbox{
  @media (min-width:1200px){
    margin: 0px 240px 90px 240px;
  }
  @media (min-width:992px)and ( max-width:1199px){
    margin: 0px 170px 87px 170px;
  }
  @media (min-width:701px)and ( max-width:991px){
    margin: 0px 125px 62px 125px;
  }
  @media (min-width:576px)and ( max-width:700px){
    margin: 0px 50px 58px 50px;
  }
  @media (max-width: 575px){
    margin: 0px 30px 58px 30px;
  }
}
//内容
.service_term_content{
  color: #666666;
  @media (min-width:701px){
    font-size: 16px;
    line-height: 28px;
  }
  @media (min-width:576px)and ( max-width:700px){
    font-size: 14px;
    line-height: 25px;
  }
  @media (max-width: 575px){
    font-size: 14px;
    line-height: 25px;
  }
}
//小标题
.service_term_smalltitle{
  color: #333333;
  line-height: 30px;
  @media (min-width:701px){
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  @media (min-width:576px)and ( max-width:700px){
    font-size: 14px;
    margin-top: 21px;
    margin-bottom: 6px;
  }
  @media (max-width: 575px){
    font-size: 14px;
    margin-top: 21px;
    margin-bottom: 6px;
  }
}